<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.summerProject.ink_book.Mapper.ProjectMapper">
    <insert id="insertProject" parameterType="com.summerProject.ink_book.Entity.Project" useGeneratedKeys="true"
            keyProperty="projectId">
        insert into ink_book.projects(ink_book.projects.projectName, ink_book.projects.projectDescription)
        VALUES (#{projectName}, #{projectDescription})
    </insert>
    <update id="deleteProjectById">
        update ink_book.projects
        set deleted=1
        where ink_book.projects.projectId = #{projectId}
    </update>
    <select id="selectProjectById" resultType="com.summerProject.ink_book.Entity.Project">
        select *
        from ink_book.projects
        where projectId = #{projectId}
    </select>
    <update id="modifyProject" parameterType="com.summerProject.ink_book.Entity.Project">
        update projects
        <set>
            <if test="projectName != null">
                projectName = #{projectName}
            </if>
            <if test="projectDescription != null">
                projectDescription = #{projectDescription}
            </if>
        </set>
        where projectId = #{projectId}
    </update>
    <select id="selectProjectByUser" resultType="com.summerProject.ink_book.Entity.Project">
        select *
        from projects a,
             project_user b
        where a.projectId = b.projectId
          and b.userId = #{id}
          and a.deleted = #{deleted}
    </select>
    <select id="selectProjectByGroup" resultType="com.summerProject.ink_book.Entity.Project">
        select *
        from projects a,
             project_user b,
             group_user c
        where a.projectId = b.projectId
          and b.userId = c.userId
          and c.groupId = #{id}
          and a.deleted = #{deleted}
    </select>
    <select id="selectProjectByLeader" resultType="com.summerProject.ink_book.Entity.Project">
        select *
        from projects a,
             project_user b,
             group_user c
        where a.projectId = b.projectId
          and b.userId = c.userId
          and c.groupId = #{id}
          and c.userLevel = 3
          and a.deleted = #{deleted}
    </select>
</mapper>